.main-article{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/first_screen_bg.jpg) no-repeat top center /cover;
  position: relative;

  &__inner{
    grid-column: 2/7;
    margin: 0 auto;
    height: 450px; //translate to rems
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__date-and-view{
    margin-top: 1.25rem;
    font-size: 12px;
    font-family: $main-font;
  }
  &__buttons{
    margin-top: 1.875rem;
  }
}

.main-article_baby-side{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/baby_background.jpg) no-repeat top center /cover;
}