.main-article{
  position: relative;

  &__item{
    grid-column: 1/13;
    height: 450px;
    overflow: hidden;
  }

  &__tag{
    position: absolute;
  }

  &__description{
    top: 50%;
    transform: translate(50px, -50%);
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
  }

  &__image{
    filter: brightness(65%);
  }

  &__date-and-view{
    order: 1;
    margin-top: 1.25rem;
    font-size: 12px;
    font-family: $main-font;
    color: white;
  }
  &__button{
    margin-top: 1.875rem;
    order: 2;
  }
}

.main-article_baby-side{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/baby_background.jpg) no-repeat top center /cover;
}