$main-font: 'Proxima Nova Rg';
$semi-bold: 600;
$extra-bold: 800;

$add-font: 'Lora';

$grapefruit-light: #f94f4c;
$grapefruit-dark: #d44141;
$coolaqua-light: #00b9c4;
$coolaqua-dark: #00929a;
$darkgrey-dark: #2b292d;
$darkgrey-light: #5b5664;
$sun-light: #ffc830;
$sun-dark: #eeb20b;
$white: #fff;
$lightgrey-light: #f7f7f9;
$lightgrey-dark: #ebecf0;

$border-grey: 1px solid $lightgrey-dark;